node_modules/
dist/
public/
.env
.env.test
*.log
.DS_Store
__pycache__/
*.pyc
test-results/
playwright-report/
playwright/.cache/

#MP# are rsync'ing the data folder, but we don't want to ignore it in the builder stage, so we have to ignore it here
*.mp3
